// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	 
	
}
#bg img { 

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
z-index: -300;

}
header {
	padding-bottom:20px;
}
.container {
	margin-left:auto;
	margin-right:auto;
	width:1113px;
	color:#fff;


	
}



#logo {
	font-family: 'Lobster', cursive;
	font-size:3em;
	padding-top:10px;
}

#tagline {
	font-family: 'Oregano', cursive;
	padding-left:25px;
	padding-bottom:20px;
}

.miles-left {
	float:left;
	height:auto;
	width:236px;
	padding-top:160px;
}

.miles-left img {
	width:236px;

}

.miles-right {
	float:right;
	height:auto;
	width:236.5px;
	padding-top:160px;
}

.miles-right img {
	width:236px;

}
.pull-right{
	float:right;
}
.pull-left {
	float:left;
}
.wrapper {

	width:640px;
	margin:0 auto;

}

.wrapper img {
width:180px;
}

nav {
	
	text-align: center;
	padding-top: 10px;
	width: 400px;
	margin: 0px auto;

}
nav > a {
	text-decoration: none;
	color: #fff;
	padding:0px 10px 0px 10px;

}




#prev {
	background:#000;
	padding:8px;
	font-family: 'Oregano', cursive;
	border-radius: 5px;
}

#prev:hover {
	background:#212120;
}

#next {
	background:#000;
	padding:8px;
	font-family: 'Oregano', cursive;
	border-radius: 5px;
}

#next:hover {
	background:#212120;
}



#nav-btn {
	background:#000;
	padding:6px;
	font-family: 'Oregano', cursive;
	border-radius: 5px;
}





#footer {
	padding-top:50px;
	text-align:right;
	margin-bottom:20px;
	color:#000;


}

#footer  a {
	text-decoration:none;
	
	font-size:.9em;
	color:#fff;
	background:#000;
	padding:6px;
	border-radius:7px;
}